html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

@import "utils/container";
@import "utils/colors";
@import "list";

body {
  background: $background-color;
}
